.details {
  background-image: url("../../img/details.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
}

.container {
  margin-top: 2rem;
  margin-bottom: -6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.card {
  display: flex;
  width: 1000px;
  height: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.header {
  border-right: 1px solid #ddd;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 20px 30px;
  transition: 0.2s;
}

.description {
  background: #fbfbfb;
}

.header,
.description {
  padding: 20px;
  text-align: center;
}

.p {
  font-weight: 500;
  display: inline-block;
  margin: 0.05rem 0.2rem 0.05rem 0.2rem;
  margin-bottom: 5px;
  font-size: smaller;
  padding: 0.1rem 0.4rem;
  margin-left: 1px;
  border-radius: 15px;
  background-color: #b4ad95a8;
  width: fit-content;
}

.label {
  font-weight: 500;
  padding: 2px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgb(153, 133, 97);
}

.button {
  margin-right: 4rem;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 550;
  color: rgb(255, 255, 255);
  background-color: #594a47;
  box-shadow: 0 0 6px #000000a8;
}

.button:hover {
  cursor: pointer;
  background-color: #e9e3d0;
  color: black;
  box-shadow: 0 0 5px 7px #000000a8;
}
