.create {
  background-image: url("../../img/create.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
}

.container {
  margin-top: 3rem;
  margin-bottom: -8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.input {
  border: 2px solid rgb(133, 99, 60);
  border-radius: 6px;
  width: 20rem;
  margin: 0.5rem 0 2rem 0;
  padding-left: 0.5rem;
}

.label {
  font-weight: 500;
  padding: 2px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgb(153, 133, 97);
}

.labelD {
  font-weight: 500;
  padding: 2px 10px;
  margin-left: 40px;
  border-radius: 4px;
  background-color: rgb(153, 133, 97);
}

.textarea {
  border: 2px solid rgb(133, 99, 60);
  border-radius: 8px;
  width: 20rem;
  height: 2.5rem;
  margin: 0.5rem 0 2rem 0;
  padding-left: 0.5rem;
  resize: none;
}

.diets {
  text-align: center;
  margin: 0 5rem 0.2rem;
  padding: 0.5rem;
}

.form {
  display: flex;
  border-radius: 2px;
  margin: 4rem auto;
  width: 50rem;
  background-color: white;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3rem);
}

.header {
  width: 25rem;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 20px 30px;
  margin-right: -2rem;
  transition: 0.2s;
}

.header,
.diets {
  padding: 20px;
  text-align: center;
}

/* Botones */
.button {
  margin-right: 4rem;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 550;
  color: rgb(255, 255, 255);
  background-color: #594a47;
  box-shadow: 0 0 6px #000000a8;
}

.button:hover {
  cursor: pointer;
  background-color: #e9e3d0;
  color: black;
  box-shadow: 0 0 5px 7px #000000a8;
}

.b {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: 550;
  color: rgb(255, 255, 255);
  background-color: #594a47;
  box-shadow: 0 0 6px #000000a8;
}

.b:hover {
  cursor: pointer;
  background-color: #e9e3d0;
  color: black;
  box-shadow: 0 0 5px 7px #000000a8;
}

.b:disabled {
  background-color: gray;
  text-decoration: line-through;
  box-shadow: 0 0 5px 7px #000000a8;
}

/* Errors */
.p {
  margin-top: -1rem;
  grid-column: 2;
  grid-row: 2;
  overflow-wrap: break-word;
  font-size: 0.88rem;
  color: red;
}
