.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 50%;
}

.page_button,
.current {
  margin: 5px;
  border-radius: 4px;
  border: none;
  padding: 4px 8px 4px 8px;
  background-color: #594A47;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 6px #000000a8;
  font-size: 1.2rem;
}

.page_button:hover {
  cursor: pointer;
  background-color: #E9E3D0;
  color: black;
  box-shadow: 0 0 2px 5px #000000a8;
}

.current {
  color: black;
  background-color: bisque;
  padding: 6px 12px 8px 12px;
}